/* ==========================================================================
Hero styles
========================================================================== */

.hero-body {
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include tablet() {
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
    @include desktop() {
        padding-top: 6rem;
    }
    .subtitle {
        font-family: 'Karla';
    }
    .title {
        font-family: 'MaaxMono';

        &.is-bold {
            font-weight: 700;
        }
    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.hero-foot {
    img.partner-logo {
        max-width: 250px;
        max-height: 150px;
        @include tablet() {
            max-width: 250px;
            max-height: 150px;
        }
    }
}

.hero__img {
    // Set smaller for narrow screens
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    @include tablet() {
        width: 100%;
    }
}

img {

    border-radius: 20px;
}
