.c-logo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  @include tablet() {
    grid-template-columns: repeat(4, 1fr);
  }

  @include desktop-only() {
    // Custom offest to line up with logo
    margin-left: 28px;
  }
}

.c-logo-grid__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

