section.section.s-logo-grid {
  div.hero-foot:first-of-type {
    .subtitle {
      margin-top: 0px;
    }
  }
  .subtitle {
    margin-top: 6rem;
  }
}

.c-logo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  @include tablet() {
    grid-template-columns: repeat(4, 1fr);
  }

  @include desktop-only() {
    // Custom offest to line up with logo
    margin-left: 28px;
  }
}

.c-logo-grid__item {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 260px;
  max-height: 160px;

  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  @include tablet() {
    max-width: 260px;
    max-height: 160px;

    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
  }
}

