/* ==========================================================================
Navbar
========================================================================== */

//Navbar
.navbar.is-fresh {
    position: relative;
    min-height: 3.8rem;
    transition: all .3s;
    z-index: 99;
    @include desktop() {
        padding-top: 4.9rem;
    }
    .container {
        min-height: 4rem;
    }
    &.no-shadow {
        box-shadow: none !important;
    }
    //Responsive menu icon
    .navbar-burger {
        // Match sysdig.com hamburger style
        width: 4rem;
        height: 4rem;
        color: black;
        margin-top: 0.1rem; // Offset a bit to balance with logo b/c of high wings about text line
        @include tablet() {
            width: 5rem;
            height: 5rem;
        }
        span {
            height: 4px;
            left: calc(50% - 1rem);
            width: 2rem;
        }
        span:nth-child(1) {
            top: calc(50% - 10px);
        }
        span:nth-child(3) {
            top: calc(50% + 8px);
        }
        &.is-active span:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
        }
        &.is-active span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
        &:hover {
            background-color: transparent;
        }
    }
    //Brand
    .navbar-brand {
        min-height: 4rem;
        //Removing navbar item default hover behaviour
        &:hover {
            .navbar-item {
                background: transparent !important;
            }
        }
    }

    .navbar-brand__logo {
        max-height: 50px !important;
        height: 50px;
        @include desktop() {
            max-height: 90px !important;
            height: 90px;
            position: relative;
            top: -24px;
            margin-right: 1.5rem;
        }
    }
    &#navbar-clone .navbar-brand__logo {
            margin-bottom: .25rem;
            @include desktop() {
                margin-bottom: 0;
                max-height: 50px !important;
                height: 50px;
                top: -6px;
            }
        }

    .navbar-end {
        align-items: center;
    }
    //Navbar items
    .navbar-item {
        color: $muted-grey;
        font-size: 1.25rem;
        &.is-secondary {
            &:hover {
                color: $secondary !important;
            }
        }
        &.has-dropdown {
            padding: 10px 0;
            .navbar-link {
                color: $muted-grey;
                &:after {
                    top: 55%;
                    height: 0.5em;
                    width: 0.5em;
                    border-width: 2px;
                    border-color: $muted-grey;
                }
            }
            .navbar-dropdown {
                top: 3.4rem;
                min-width: 220px;
                margin-top: 4px;
                border-top-color: $secondary;
                .navbar-item {
                    padding: 10px 20px;
                }
            }
            &:hover {
                .navbar-link {
                    color: $secondary;
                    &:after {
                        border-color: $secondary;
                    }
                }
            }
        }
        .signup {
            display: block;
            line-height: 0;
            font-size: .9rem !important;
        }
    }

    //Fixed navbar modifier
    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 4rem !important;
        background: $white;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
        a {
            color: $blue-grey;
            &:hover {
                color: $primary;
            }
        }
    }
}

//Cloned fixed navbar
#navbar-clone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    transform: translateY(-100%);
    z-index: 100;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    padding-top: 0;
    @include desktop() {
        padding-top: .5rem;
    }
    &.is-active {
        transform: translateY(0); 
    }
}
