baseURL: /
languageCode: en-us
theme: falco-fresh
disableKinds: ["taxonomy", "taxonomyTerm"]
pygmentsCodefences: true
pygmentsStyle: monokai
defaultContentLanguage: en
enableInlineShortcodes: true

languages:
  en:
    languageName: English
    title: The Falco Project
    contentDir: content/en
    params:
      heroText:
        title: The Falco Project
        detail1: Trace system calls in the Linux kernel.
        detail2: Enrich the kernel events with container meta information.
        detail3: Assert the events against security rules.
        detail4: Alert during security incidents.
      runtime:
        title: Why Runtime Security?
        intro: >-
               Securing Kubernetes requires putting controls in place to detect unexpected behavior that could be malicious. Examples include:
        items:
          - example: Exploits of unpatched and new vulnerabilities
          - example: Insecure configurations
          - example: Leaked or weak credentials
          - example: Insider threats
        closing: Even when processes are in place for vulnerability scanning and implementing pod security and network policies, not every risk will be addressed. You still need mechanisms to confirm these security barriers are effective, help configure them, and provide with a last line of defense when they fail.
      whyfalco:
        title: The Falco Project
        subtitle: Cloud-Native runtime security from the kernel up
        tiles:
        - title: Access
          icon: fas fa-terminal
          text: Deep kernel tracing built on the Linux kernel, eBPF, and ptrace. Enrich kernel events with Kubernetes and container metainformation.
        - title: Assert
          icon: fas fa-search
          text: Describe security rules against for your system. Protect your system against unknown or unwanted behavior.
        - title: Action
          icon: fas fa-exclamation-circle
          text: Take action during an security violation. Build powerful response applications in the case of malicious behaviour.
      syscalls:
        title: System calls deliver deep visibility
        summary: Falco efficiently leverages Extended Berkeley Packet Filter (eBPF), a secure mechanism, to capture system calls and gain deep visibility. By adding Kubernetes application context and Kubernetes API audit events, teams can understand who did what.
      resources:
        title: Develop
        subtitle: Build secure applications with Falco at the core.
        detail: Use Falco with Kubernetes, Linux, and Serveless applications.
        items:
        - title: Install
          text: Set up Falco to begin development
          icon: fas fa-server
          buttonText1: On Linux
          buttonLink1: https://falco.org/docs/installation/#installing
          buttonText2: In Kubernetes
          buttonLink2: https://falco.org/docs/third-party/
          buttonText3: Container Images
          buttonLink3: https://falco.org/docs/download/#images
          buttonText4: Integrations
          buttonLink4: https://falco.org/docs/third-party/
        - title: Build
          text: Falco leverages gRPC and supports several SDKs to build with Falco
          # Icon (from /images/illustrations/icons/___.svg)
          icon: fas fa-file-code
          buttonText1:  Go
          buttonLink1: https://github.com/falcosecurity/client-go
          buttonText2:  Rust
          buttonLink2: https://github.com/falcosecurity/client-rs
          buttonText3:  C++
          buttonLink3: https://github.com/falcosecurity/falco
          buttonText4:  Python
          buttonLink4: https://github.com/falcosecurity/client-py
        - title: Configure
          text: Falco leverages gRPC and supports several SDKs to build with Falco
          # Icon (from /images/illustrations/icons/___.svg)
          icon: fas fa-file-alt
          buttonText1:  Configuration
          buttonLink1: http://falco.org/docs/configuration/
          buttonText2:  Rules
          buttonLink2: https://falco.org/docs/rules/
          buttonText3:  Alerts
          buttonLink3: https://falco.org/docs/alerts/
          buttonText4:  Examples
          buttonLink4: https://falco.org/docs/examples/
      signup:
        title: Join the community
        subtitle: Sign up for the development mailing list
        buttonText: Submit
        slackText: Falco Slack Channels
        slackLink: https://slack.k8s.io/
        mailingListText: Developer Mailing List
        mailingListLink: https://lists.cncf.io/g/cncf-falco-dev
        communityText: Github Community
        communityLink: https://github.com/falcosecurity/community
        privacyText: The Falco Community is bound to The Linux Foundation privacy policy. When you communicate with us (via email, phone, through the Sites or otherwise), we may maintain a record of your communication.
        privacyLink: https://www.linuxfoundation.org/privacy/
    menu:
      navbar:
      - name: Documentation
        url: "/docs"
        weight: 4
      - name: Blog
        url: "/blog"
        weight: 5

  zh:
    languageName: 中文 Chinese
    title: Falco — 云原生运行时安全
    contentDir: content/zh
    params:
      heroText:
        # Main hero title
        title: 云原生运行时安全
        # Hero subtitle (optional)
        subtitle: Falco，开源的云原生运行时安全项目，是Kubernetes威胁监测引擎的事实标准。Falco可以监测意外的应用行为和运行时发出的威胁警告。
        # Button text
        buttontext: 从这开始
        # Falco joins CNCF
        falcoCNCF: Falco是第一个加入云原生计算基金会CNCF并处于孵化阶段的运行时安全项目。
      runtime:
        title: 为什么需要运行时安全？
        intro: >-
               保障Kubernetes运行安全需要将控制器放置在适当的位置，以检测可能是恶意的意外行为。例子包括：
        items:
          - example: 利用未修补的新漏洞
          - example: 不安全的配置
          - example: 被泄露的凭证或弱凭证
          - example: 内部威胁
        closing: 即使已存在用于漏洞扫描、配置pod安全和网络策略的程序，也不能解决所有风险。您仍然需要一些机制，以确认这些安全屏障是有效的，帮助配置它们，并在它们失败时提供最后一道防线。
      whyfalco:
        title: 为什么Falco是为了运行时监测？
        subtitle:
        tiles:
        - title: 加强安全性
          icon: check.png
          text: 创建由上下文丰富且灵活的引擎驱动的安全规则，以定义意外的应用程序行为。
        - title: 减小风险
          icon: box.png
          text: 通过将Falco对接您当前的安全响应工作流和流程，立即作出策略违反警报。
        - title: 利用最新的规则
          icon: scalable.png
          text: 使用来源于社区的恶意活动和CVE漏洞监测发出警报。
      syscalls:
        title: 系统调用提供深入的可见性
        summary: Falco有效地利用Extended Berkeley Packet Filter (eBPF)，这一安全机制，来捕获系统调用并获得深入的可见性。通过添加Kubernetes应用程序上下文和Kubernetes API审计事件，团队可以了解谁做了什么。
      resources:
        title: 下载+资源
        subtitle: 从今天开始，为开源项目作出贡献并学习更多。
        items:
        - title: Install
          text: Set up Falco to begin development
          icon: fas fa-server
          buttonText1: On Linux
          buttonLink1: https://falco.org/docs/installation/#installing
          buttonText2: In Kubernetes
          buttonLink2: https://falco.org/docs/third-party/
          buttonText3: Container Images
          buttonLink3: https://falco.org/docs/download/#images
          buttonText4: Integrations
          buttonLink4: https://falco.org/docs/third-party/
        - title: Build
          text: Falco leverages gRPC and supports several SDKs to build with Falco
          # Icon (from /images/illustrations/icons/___.svg)
          icon: fas fa-file-code
          buttonText1:  Go
          buttonLink1: https://github.com/falcosecurity/client-go
          buttonText2:  Rust
          buttonLink2: https://github.com/falcosecurity/client-rs
          buttonText3:  C++
          buttonLink3: https://github.com/falcosecurity/falco
          buttonText4:  Python
          buttonLink4: https://github.com/falcosecurity/client-py
        - title: Configure
          text: Falco leverages gRPC and supports several SDKs to build with Falco
          # Icon (from /images/illustrations/icons/___.svg)
          icon: fas fa-file-alt
          buttonText1:  Configuration
          buttonLink1: http://falco.org/docs/configuration/
          buttonText2:  Rules
          buttonLink2: https://falco.org/docs/rules/
          buttonText3:  Alerts
          buttonLink3: https://falco.org/docs/alerts/
          buttonText4:  Examples
          buttonLink4: https://falco.org/docs/examples/
      signup:
        title: Join the community
        subtitle: Sign up for the development mailing list
        buttonText: Submit
        slackText: Falco Slack Channels
        slackLink: https://slack.k8s.io/
        mailingListText: Developer Mailing List
        mailingListLink: https://lists.cncf.io/g/cncf-falco-dev
        communityText: Github Community
        communityLink: https://github.com/falcosecurity/community
        privacyText: The Falco Community is bound to The Linux Foundation privacy policy. When you communicate with us (via email, phone, through the Sites or otherwise), we may maintain a record of your communication.
        privacyLink: https://www.linuxfoundation.org/privacy/
    menu:
      navbar:
      - name: 为什么需要Falco？
        url: "/#whyfalco"
        weight: 2
      - name: 从这开始
        url: "/#resources"
        weight: 3
      - name: 文档
        url: "/docs"
        weight: 4
      #- name: 博客
      #  url: "/blog"
      #  weight: 5

  jp:
    languageName: 日本語 Japanese
    title: Falco — クラウドネイティブランタイムセキュリティ
    contentDir: content/jp
    params:
      heroText:
        # Main hero title
        title: クラウドネイティブ ランタイムセキュリティ
        # Hero subtitle (optional)
        subtitle: オープンソースのクラウドネイティブランタイムセキュリティプロジェクトであるFalcoは、デファクトのKubernetes脅威検出エンジンです。 Falcoは、予期しないアプリケーションのビヘイビアを検出し、ランタイム時に脅威を警告します。
        # Button text
        buttontext: 始めましょう
        # Falco joins CNCF
        falcoCNCF: Falcoは、CNCFインキュベーションステージに参加した初のランタイムセキュリティプロジェクトです。
      runtime:
        title: なぜランタイムセキュリティなのか？
        intro: >-
          Kubernetesを保護するには、悪意のある可能性のある予期しないビヘイビアを検出するためのコントロールの仕組みが必要です。例えば以下の場合です：
        items:
          - example: パッチ未適用および新しい脆弱性のエクスプロイト
          - example: セキュアでない設定
          - example: 漏洩または弱いクレデンシャル
          - example: インサイダー脅威
        closing: 脆弱性スキャンおよびポッドセキュリティとネットワークポリシーを実装するためのプロセスが整っている場合でも、すべてのリスクに対処できるわけではありません。これらのセキュリティバリアが効果的であることを確認し、設定を支援し、障害が発生した場合に最後の防御線を提供するメカニズムが必要です。
      whyfalco:
        title: なぜランタイム検出においてFalcoなのか？
        subtitle:
        tiles:
        - title: セキュリティを強化する
          icon: check.png
          text: 豊富なコンテキストと柔軟なエンジンによって駆動されるセキュリティルールを作成して、予期しないアプリケーションのビヘイビアを定義します。
        - title: リスクの低減
          icon: box.png
          text: Falcoをセキュリティレスポンスワークフローとプロセスに組み込むことにより、ポリシー違反アラートに対して即座に対応します。
        - title: 最新のルールを活用する
          icon: scalable.png
          text: コミュニティをソースとした悪意のあるアクティビティの検出とCVEエクスプロイトからアラートします。
      syscalls:
        title: システムコールがディープな可視性をもたらす
        summary: Falcoは、セキュアな仕組みであるExtended Berkeley Packet Filter（eBPF）を効率的に活用して、システムコールをキャプチャし、ディープな可視性を獲得します。KubernetesアプリケーションコンテキストとKubernetes API auditイベントを追加することにより、チームは誰が何をしたかを理解できます。
      resources:
        title: ダウンロード + リソース
        subtitle: 今日、始めましょう。オープンソースプロジェクトにコントリビュート＆詳細をご覧ください。
        items:
        - title: Install
          text: Set up Falco to begin development
          icon: fas fa-server
          buttonText1: On Linux
          buttonLink1: https://falco.org/docs/installation/#installing
          buttonText2: In Kubernetes
          buttonLink2: https://falco.org/docs/third-party/
          buttonText3: Container Images
          buttonLink3: https://falco.org/docs/download/#images
          buttonText4: Integrations
          buttonLink4: https://falco.org/docs/third-party/
        - title: Build
          text: Falco leverages gRPC and supports several SDKs to build with Falco
          # Icon (from /images/illustrations/icons/___.svg)
          icon: fas fa-file-code
          buttonText1:  Go
          buttonLink1: https://github.com/falcosecurity/client-go
          buttonText2:  Rust
          buttonLink2: https://github.com/falcosecurity/client-rs
          buttonText3:  C++
          buttonLink3: https://github.com/falcosecurity/falco
          buttonText4:  Python
          buttonLink4: https://github.com/falcosecurity/client-py
        - title: Configure
          text: Falco leverages gRPC and supports several SDKs to build with Falco
          # Icon (from /images/illustrations/icons/___.svg)
          icon: fas fa-file-alt
          buttonText1:  Configuration
          buttonLink1: http://falco.org/docs/configuration/
          buttonText2:  Rules
          buttonLink2: https://falco.org/docs/rules/
          buttonText3:  Alerts
          buttonLink3: https://falco.org/docs/alerts/
          buttonText4:  Examples
          buttonLink4: https://falco.org/docs/examples/
      signup:
        title: Join the community
        subtitle: Sign up for the development mailing list
        buttonText: Submit
        slackText: Falco Slack Channels
        slackLink: https://slack.k8s.io/
        mailingListText: Developer Mailing List
        mailingListLink: https://lists.cncf.io/g/cncf-falco-dev
        communityText: Github Community
        communityLink: https://github.com/falcosecurity/community
        privacyText: The Falco Community is bound to The Linux Foundation privacy policy. When you communicate with us (via email, phone, through the Sites or otherwise), we may maintain a record of your communication.
        privacyLink: https://www.linuxfoundation.org/privacy/
    menu:
      navbar:
      - name: Falcoを選ぶ理由
        url: "/#whyfalco"
        weight: 2
      - name: 始めましょう
        url: "/#resources"
        weight: 3
      - name: ドキュメンテーション
        url: "/docs"
        weight: 4
      #- name: ブログ
      #  url: "/blog"
      #  weight: 5

params:
  version: v0.23.0
  githubRepository : falcosecurity/falco
  sha256sum: 21e8053c37e32f95d91c9393d961af1c63b5839d795c8cac314d05daadea9779
  primaryFont:
    name: "Karla"
    sizes: [400 700]
  secondaryFont:
    name: "MaaxMono"

  hero:
    buttonlink: "#resources"
    image: illustrations/dark-terminal.jpg


    created-by:
      - src: sysdig.png
        alt: Sysdig
        url: https://www.sysdig.com/

    # ------------------------------------------------------------------------------------------------------------------
    #
    # [ END-USERS ]
    #
    end-users:
    - src: bah.png
      alt: Booz Allen Hamilton
      url: https://www.boozallen.com/
    - src: coveo.png
      alt: Coveo
      url: https://www.coveo.com/en
    - src: frameio.png
      alt: Frame.io
      url: https://frame.io/
    - src: league.png
      alt: League
      url: https://league.com/us/
    - src: preferral.png
      alt: Preferral
      url: https://www.preferral.com/
    - src: shopify.png
      alt: Shopify
      url: https://shopify.com
    - src: sightmachine.png
      alt: Sight Machine
      url: https://sightmachine.com/
    - src: skyscanner.png
      alt: Sky Scanner
      url: https://medium.com/@SkyscannerEng/kubernetes-security-monitoring-at-scale-with-sysdig-falco-a60cfdb0f67a


    # ------------------------------------------------------------------------------------------------------------------
    #
    # [ VENDORS ]
    #
    vendors:
    - src: logzio.png
      alt: Logz.io
      url: https://logz.io/
    - src: shujinko.png
      alt: Shujinko
      url: https://www.shujinko.io/products/
    - src: sumologic.png
      alt: Sumo Logic
      url: https://www.sumologic.com/
    - src: sysdig.png
      alt: Sysdig
      url: https://sysdig.com
    - src: rancher.png
      alt: Rancher
      url: https://rancher.com


    # ------------------------------------------------------------------------------------------------------------------
    #
    # [ Integrations ]
    #
    integrations:
      # -------------------------------------------------
      # CNCF Projects
      #
    - src: helm.png
      alt: Helm
      url: https://helm.sh
    - src: kubernetes.png
      alt: Kubernetes
      url: https://kubernetes.io
    - src: opa.png
      alt: Open Policy Agent1
      url: https://www.openpolicyagent.org/
    - src: prometheus.png
      alt: Prometheus
      url: https://prometheus.io/

      # -------------------------------------------------
      # Third Party Integrations
      #
    - src: aws.png
      alt: Amazon Web Services
      url: https://aws.amazon.com/
    - src: azure.png
      alt: Azure
      url: https://azure.microsoft.com
    - src: datadog.png
      alt: Datadog
      url: https://www.datadoghq.com/
    - src: elasticsearch.png
      alt: Elastic Search
      url: https://www.elastic.co/elasticsearch
    - src: google.png
      alt: Google Cloud
      url: https://cloud.google.com/
    - src: ibmcloud.png
      alt: IBM Cloud
      url: https://www.ibm.com/cloud
    - src: influx.png
      alt: InfluxDB
      url: https://www.influxdata.com/
    - src: loki.png
      alt: Grafana Loki
      url: https://grafana.com/oss/loki/
    - src: opsgenie.png
      alt: Opsgenie
      url: https://www.atlassian.com/software/opsgenie
    - src: redhat.png
      alt: Red Hat
      url: https://www.redhat.com
    - src: slack.png
      alt: Slack
      url: https://slack.com/
    - src: statsd.png
      alt: StatsD
      url: https://github.com/statsd/statsd

    # ------------------------------------------------------------------------------------------------------------------

  # Customizable navbar. For a dropdown, add a "sublinks" list.
  navbar:
    cncf:
      logo: cncf-black.svg
      cncfLink: https://cncf.io/
      level: Incubating
      levelLink: https://github.com/cncf/toc/blob/master/process/graduation_criteria.adoc
