[build]
publish = "public"
command = "make production-build"
functions = "functions"

[build.environment]
HUGO_VERSION = "0.154.5"
NODE_VERSION = "24.13.0"
NPM_VERSION  = "11.8.0"

[context.production.environment]
HUGO_BASEURL = "https://falco.org/"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.deploy-preview]
HUGO_ENV = "development"
command = "make preview-build"

[context.branch-deploy]
HUGO_ENV = "archive"
command = "make branch-build"

[functions]
node_bundler = "esbuild"

[[redirects]]
  from = "https://falcosecurity.dev/*"
  to = "https://falco.org/:splat"
  status = 301
  force = true
