[build]
publish = "public"
command = "make production-build"

[build.environment]
HUGO_VERSION = "0.101.0"
NODE_VERSION = "18.12.1"
NPM_VERSION  = "9.1.1"

[context.production.environment]
HUGO_BASEURL = "https://falco.org/"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.deploy-preview]
command = "make preview-build"

[context.branch-deploy]
command = "make preview-build"
