{{ define "main" }}
<!-- Preloader -->
<div id="preloader">
  <div id="status"></div>
</div>

<!--  {{partial "announce.html"}} -->
{{ partial "navbar.html" . }}
{{ partial "whyfalco.html" . }}
{{ partial "media.html" . }}
{{ partial "resources.html" . }}
{{ partial "signup.html" . }}

<!-- {{ partial "hero.html" . }} -->
<!-- {{ partial "runtime.html" . }} -->
<!-- {{ partial "syscalls.html" . }} -->


{{ partial "logos.html" . }}
{{ partial "cncf.html" . }}


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>
{{ end }}
