{{ $dataJSONURL := (.Get 0) }}
{{ $dataJSON := getJSON $dataJSONURL }}
{{ $nItems   := len $dataJSON }}

<div class="changelog">
  {{ range $idx, $value := $dataJSON }}
  {{ $isLast := eq (add $idx 1) $nItems}}
  {{ $link   := printf "https://github.com/falcosecurity/falco/tree/%s" .tag_name }}
  <div class="changelog-item">
    <p class="title is-size-3 is-size-4-mobile">
      Version
      <a href="{{ $link }}" target="_blank">
        {{ .tag_name }}
      </a>
    </p>

    <div class="changelog-item-content content">
      {{ .body | markdownify }}
    </div>
  </div>

  {{ if not $isLast }}
  <hr />
  {{ end }}
  {{ end }}
</div>
