{{ $standard := or .IsHome (eq .Section "blog") }}
<!DOCTYPE html>
<html lange="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "ga.html"}}
    {{ partial "meta.html" . }}
    <title>{{ if eq .URL "/" }}{{ .Site.Title }}{{ else if eq .URL "/blog/" }}All Entries &middot; {{ .Site.Title }}{{ else }}{{ .Title }} - {{.Site.Title}}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body{{ if $standard }} class="page has-navbar-fixed-top"{{ end }}>
    {{ if $standard }}<main class="main">{{ end }}
    {{ partial "deprecation-warning.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ if $standard }}</main>{{ end }}

    {{ if $standard }}
    {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
  </body>
</html>
