//
// Announcement bar
//

$navbar-height: 4rem;
$banner-height:4rem;

.announcement-wrapper {
  position:relative;
  height:fit-content;
  padding-top: $navbar-height;
  background-color:$body-bg
}

.announcement-bar {
  position:sticky;
  min-height: $banner-height;
  z-index: 1;
  width: 100%;
  color: $dark;
  top: $navbar-height;
  box-shadow: 0px 4px 20px rgba($black, 0.1);
  display:flex;
  padding: 24px 16px;
  gap:16px;
  align-items: center;
  align-content: center;
  justify-content: center;

  &--hide {
    top: 0;
    display:none
  }

  &__button-close {
    line-height: 1rem;
    align-self: flex-start;
    i {
      rotate: 45deg;
    }
  }
}


.td-navbar {
  min-height: $navbar-height;
  margin: 0;
  z-index: 32;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.5s;

  &_transparent {
    background: transparent;
    box-shadow: none;
  }
}
