section#cncf {
    padding-top: 60px;
    padding-bottom: 140px;
    background-image: url(/img/cncf.png);
    background-position: center 100px;
    background-repeat: no-repeat;
    background-size: 300px;
    font-size: 20px;
    text-align: center;
  }
