// Overrides card-pane.scss
.card {
  max-width: unset;
  border-radius: $card-border-radius !important;

  &-sm {
    .card-body {
      padding: $card-spacer-x-sm;
      border-radius: $card-border-radius-sm !important;
    }
  }

  .card-text {
    :last-child {
      margin-bottom: 0;
    }
  }
}

.card-deck {
  max-width: unset;
}

// FAQ card
.faq-card {
  font-size: 1.25rem;

  .card-text {
    margin-top: 1.5rem;
  }

  p {
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  button[data-toggle="collapse"] {
    &:focus,
    :active {
      box-shadow: none !important;
    }

    i {
      // TODO: colors must be fixed
      color: $secondary;
      transition: rotate 0.5s;
    }

    &[aria-expanded="true"] {
      i {
        rotate: 45deg;
        color: $primary;
      }
    }
  }
}
