// Overrides card-pane.scss
.card {
  max-width: unset;
  border-radius: $card-border-radius !important;

  &-sm {
    border-radius: $card-border-radius-sm !important;
    
    .card-body {
      padding: $card-spacer-x-sm;
    }
  }

  .card-text {
    :last-child {
      margin-bottom: 0;
    }
  }
}

.card-deck {
  max-width: unset;
}

// FAQ card
.faq-card {
  font-size: 1.25rem;

  .card-text {
    margin-top: 1.5rem;
  }

  p {
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  button[data-toggle="collapse"] {
    &:focus,
    :active {
      box-shadow: none !important;
    }

    i {
      color: $gray-600;
      transition: rotate 0.5s;
    }

    &[aria-expanded="true"] {
      i {
        rotate: 45deg;
        color: $primary;
      }
    }
  }
}

.testimonial-card {
  height: 31rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='40' ry='40' stroke='%2300AEC7FF' stroke-width='2' stroke-dasharray='6%25%2c 2%25' stroke-dashoffset='27' stroke-linecap='butt'/%3e%3c/svg%3e");
}