// TODO: uncomment or modify when changelog is in WIP

// .changelog-item-content    
//   table th+th,td+td {
//     padding-left: 4rem;
//   }

//   table:first-of-type + table {
//     margin-top: 1rem;
//   }

//   h2 {
//     margin-bottom: 1rem;
//   }

//   h3 {
//     font-weight: 300;
//     margin-top: 2rem;
//   }

//   h4 {
//     font-weight: 300;
//     margin-top: 2rem;
//   }

//   hr {
//     border: 0.5px solid;
//     color: $primary;
//     margin-top: 2rem;
//     margin-bottom: 2rem;
//   }

