.community {
  height: 72rem;

  &__call-invitation {
    top: 3rem;
  }

  &__events {
    top: 29rem;
    right: 16rem;
  }

  &__contribute {
    top: 55rem;
  }

  &__links {
    bottom: 0;
    width: 44rem;
  }

  img.img-fluid {
    border-radius: 1.25rem;
    position: absolute;
  }

  &__call {
    right: 0;
    width: 34rem;
    aspect-ratio: 1.8;
    object-fit: cover;
  }

  &__bar {
    top: 22rem;
    width: 21rem;
    aspect-ratio: 1.4;
    object-fit: cover;
    z-index: 10;
  }

  &__presentation {
    top: 33rem;
    left: 7rem;
    width: 28rem;
    object-fit: cover;
    aspect-ratio: 1.6;
  }

  &__coding {
    right: 0;
    bottom: 0;
    width: 22rem;
    object-fit: cover;
    aspect-ratio: 0.74;
  }

  &__arrow1 {
    top: -3rem;
    left: 27rem;
    border-radius: 0 !important;
  }

  &__arrow2 {
    top: 25rem;
    left: 32rem;
    border-radius: 0 !important;
  }
}

.event {
  &__time {
    // min-width: 12rem;

    @include media-breakpoint-up(md) {
      min-width: 7rem;
    }

    @include media-breakpoint-up(lg) {
      min-width: 12rem;
    }

    @include media-breakpoint-up(xs) {
      min-width: unset;
    }
  }

  &:first-of-type {
    // .event__card,
    .event__info,
    hr {
      display: none;
    }
  }

  &:not(:first-of-type) {
    .event__item {
      display: none;
    }
  }
}
