.pagination {
  gap: 0.5rem;
}

.page-item {
  &:first-child {
    display: none;
  }

  &:last-child {
    display: none;
  }

  .page-link {
    font-weight: $font-weight-normal;
    border-radius: $pagination-border-radius;
    border: 1px solid $pagination-border-color;
    display: flex;
    padding: 0;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;

    &[aria-label="Previous"],
    &[aria-label="Next"] {
      justify-content: left;
      border: none;
      width: 1.5rem;
      &:hover {
        background-color: transparent;
      }
    }

    &[aria-label="Next"] {
      justify-content: right;
    }

    span {
      color: $black;
    }
  }
}
