.tabpane {
  &__header {
    flex-wrap: nowrap;
    padding: 0.75rem !important;
    border-radius: 50vh;
    gap: 0.5rem;

    .btn[role="tab"] {
      border-radius: 50vh;
      box-shadow: none !important;

      &[aria-selected="false"] {
        background-color: transparent;
        border-color: transparent;

        &:hover {
          background-color: $info;
        }
      }
    }
  }
}

.tab-content {
  .tab-pane {
    max-width: unset;

    pre {
      border: none;
    }
  }
}
