.td-max-width-on-larger-screens {
  @include media-breakpoint-up(xs) {
    max-width: 100% !important;
  }

  @include media-breakpoint-up(xl) {
    max-width: 80% !important;
  }
}

.td-home {
  main {
    section {
      padding-top: $td-block-space-top-home;
      padding-bottom: $td-block-space-bottom-home;

      @include media-breakpoint-up(md) {
        padding-top: $td-block-space-top-home * 1.25;
        padding-bottom: $td-block-space-bottom-home * 1.25;
      }
    }
  }
}

.text-small {
  font-size: 0.75rem;
}

.text-decoration-none:hover {
  text-decoration: none;
}

// Fixes overlapping margin
@include media-breakpoint-up(md) {
  h1[id]:before,
  h2[id]:before,
  h3[id]:before,
  h4[id]:before,
  h5[id]:before,
  h6[id]:before {
    display: none;
  }
}

h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
  scroll-margin-top: 6rem;
}

.swiper {
  &-slide {
    height: auto !important;
  }

  &__container {
    @include media-breakpoint-down(md) {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }

  &__control {
    rotate: 90deg;

    & > svg {
      height: 1.25rem;
      width: 1.25rem;
    }

    &-reverse {
      @extend .swiper__control;
      rotate: -90deg;
    }

    &--disabled {
      color: $gray-500;
      cursor: default;
    }

    @include media-breakpoint-down(md) {
      display: none !important;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__pagination {
    gap: 0.5rem;
  }

  &__bullet {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50vh;
    background-color: $gray-500;

    &--active {
      background: $primary;
    }
  }
}

.quote-slide {
  &__logo {
    width: 100%;
    height: 6.25rem;
    object-fit: scale-down;
  }

  &__avatar {
    height: 3rem;
    width: 3rem;
  }
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}
