$primary:                   #00aec7;
$secondary:                 #C4C4C4;
$light:                     #F4F4F4;
$info:                      #E1F2F5;
$dark:                      #404040;
// TODO: update warning color
$warning:                   #FCE5E5;
$black:                     #121212;
$white:                     #FFF;
$blue:                        $primary;
$body-color:                  $black;
                              
$gray-100:                  #F4F4F4;
$gray-200:                  #E5E5E5;
$gray-300:                  #C4C4C4;
$gray-600:                  #8A8A8A;
$gray-700:                  #404040;

$td-sidebar-bg-color:         transparent;
$td-sidebar-border-color:     transparent;

// 
// Fonts
// 
$font-size-base:              1rem;
$spacer:                      1rem;

// 
// UI
// 
$enable-gradients:            false;
$enable-shadows:              false;
$border-radius:               .5rem;
$border-radius-lg:            1.25rem;
$border-radius-sm:            .25rem;

// 
// Headers
// 
$h1-font-size:                $font-size-base * 3.5;
$h2-font-size:                $font-size-base * 3;
$h3-font-size:                $font-size-base * 2;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base * 1;

// 
// Cards
// 
$card-border-radius:          2.5rem;
$card-border-radius-sm:       1.25rem;
$card-spacer-y:               1rem;
$card-spacer-x:               2.5rem;
$card-spacer-x-sm:            1.5rem;
$card-border-width:           0;
$card-deck-margin:            0.75rem;

// 
// Shadows
// 
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
$box-shadow:                  0 .25rem 1.25rem rgba($black, .05);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);

$body-bg:                   #FAFAFA;

// 
// Block
// 
$td-block-space-top-base:     2 * $spacer;
$td-block-space-bottom-base:  2 * $spacer;
$td-block-space-top-home:     2 * $spacer;
$td-block-space-bottom-home:  2 * $spacer;

// 
// Buttons
// 
$font-size-lg:                $font-size-base * 1.25;
$input-btn-font-size-lg:      $font-size-lg;
$btn-active-box-shadow:       none;
$btn-disabled-opacity:        .5;
$btn-focus-box-shadow:        none;

// lg
$btn-padding-y-lg:            0.75rem;
$btn-padding-x-lg:            1.5rem;
$btn-font-size-lg:            $input-btn-font-size-lg;
$btn-line-height-lg:          1.2;

// 
// Links
// 
$link-color:                  $primary;
$link-hover-color:            $primary;
$link-hover-decoration:       underline;
$btn-link-disabled-color:     $primary;

// 
// Tables
// 
$table-accent-bg:             transparent;
$table-border-color:          $light;
$table-cell-padding:          1rem;
$table-cell-padding-sm:       .5rem;
$table-head-bg:               $light;

// 
// Pagination
// 
$pagination-border-color:     $primary;
$pagination-hover-border-color:$primary;
$pagination-bg:               transparent;
$pagination-disabled-bg:      transparent;
$pagination-color:            $primary;
$pagination-border-radius:    0.5rem;

// 
// Navigation
// 
$navbar-dark-color:           $black;
$navbar-dark-hover-color:     $gray-600;
$navbar-dark-active-color:    $black;
$navbar-dark-disabled-color:  $secondary;

$nav-tabs-border-width:       2px;
$nav-tabs-border-color:       $gray-200;
$nav-tabs-link-active-bg:     transparent;
$nav-tabs-link-active-border-color: transparent;
$nav-tabs-link-active-color:  $primary;
$nav-tabs-link-color:         $dark;
$nav-tabs-link-hover-border-color: transparent;

// 
// Container
// 
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1320px
// );

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-padding-x:                .5rem !default;
