{{ define "main" }}

<!-- Main enterprise-content -->
<div class="td-content">
	{{ .Content }}
</div>

<section class="row td-box td-box--transparent">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Enterprise support</h2>
				<p>Explore enterprise-level commercial offerings for Falco from the partners listed. For training
					resources, simply scroll down the page.</p>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-12  mt-4">
				<a class="text-decoration-none" href="https://sysdig.com/opensource/sysdig-feeds-for-falco/"
					target="_blank" title="Sysdig Feeds for Falco">
					<div class="card btn btn-light p-0 shadow">
						<div class="card-body d-flex">
							<div class="card-text w-100 text-left ml-3">
								<div class="d-flex align-items-center mb-3"><img width="97px"
										src="/images/training/providers/sysdig.svg" alt="Sysdig"
										style="margin-left: -7px;">
									<h5 class="mb-0">Rule Feeds for Falco</h5>
								</div>
								<p>Enterprise detection rules maintained by the Sysdig's Threat Research Team</p>
								<div class="d-flex"><img src="/icons/clock2.svg" alt="clock">
									<span class="pl-2">Reduced time spent maintaining detection rules</span>
								</div>
								<div class="d-flex"><img src="/icons/shield.svg" alt="shield">
									<span class="pl-2">Improved detection precision with minimized false
										positives</span>
								</div>
								<div class="d-flex"><img src="/icons/clipboard.svg" alt="clipboard">
									<span class="pl-2">Rules are labeled to address diverse compliance frameworks</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<!-- Main training-content -->
{{ partial "training-content.html" . }}

{{ end }}