{{ define "main" }}

<!-- Main enterprise-content -->
<div class="td-content">
	{{ .Content }}
</div>

<section class="row td-box td-box--transparent">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Enterprise support</h2>
				<p> Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
					and
					scrambled it to make a type specimen book. It has survived not only five centuries, but also the
					leap
					into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
					the
					release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
					publishing
					software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
			</div>
		</div>
	</div>
</section>

<!-- Main training-content -->
{{ partial "training-content.html" . }}

{{ end }}