<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }} td-blog {{- with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-default" id="blog">
        <main role="main">
          {{ partial "version-banner.html" . }}
          {{ block "main" . }}{{ end }}
          {{ partial "toast.html" }}
        </main>
      </div>
      {{ partial "footer.html" . }}
      <img referrerpolicy="no-referrer-when-downgrade" src="{{ .Site.Params.tacking_pixels.blog_url }}" />
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
