{{ define "main" }} 
{{ if .Parent.IsHome }} 
  {{ $.Scratch.Set "blog-pages" (where .Site.RegularPages "Section" .Section) }} 
{{ else }} 
  {{ $.Scratch.Set "blog-pages" .Pages }} 
{{ end }}

<section class="row td-box td-box--transparent">
  <div class="container">
    <div class="row"> 
      <div class="col-12">
        <h2>Blog</h2>
        {{- if .Pages -}} 
          {{ $pag := .Paginate (( $.Scratch.Get "blog-pages").ByDate.Reverse )}} 
          {{ $first := index (first 1 $pag.Pages) 0 }}
          {{ $rest := after 1 $pag.Pages }}
          <div class="grid grid-1 grid-md-2 grid-lg-3 gap-4">
            {{ partial "blog/card.html" $first  }}
            {{ range $rest }}
              <div>
                {{ partial "blog/card.html" . }}
              </div>
            {{ end }}
            </div>
            <div class="pt-5">
              {{ template "_internal/pagination.html" . }}
            </div>
        {{ end }} 
      </div>
    </div>
  </div>
</section>
{{ end }}
