{{ define "main" }}

<section id="training-hero" class="row justify-content-center">
	<div class="col-md-6">
		<span class="h4 mb-0 text-center">
			<h1>Learn how to use {{ .Site.Title }}.</h1>
			<br>
			<p>Learning new tools isn't easy, especially for Security and Cloud.<br>
			Check out these resources to help you get started on your journey with the awesome tool, Falco.</p>
			<p>This list is provided in alphabetical order. <br>
			If you'd like to add your training resource, click <a href="#add">Add new resources</a> below.</p>
		</span>
	</div>
</section>

<!-- Main training-content -->
{{ partial "training-content.html" . }}

<div class="td-content">
	{{ .Content }}
</div>

{{ end }}