{{ $announcements := $.Site.Data.en.announcements }} {{ if $announcements }} {{
$announcementsSorted := sort $announcements "index" "desc" }} {{
$latest_announcement := first 1 $announcementsSorted }}
<section class="announcement-wrapper">
  <div class="announcement-bar">
    <div style = "align-items: center; display: flex">
      {{ range $latest_announcement }}
      {{ .content | markdownify }}
      <span id="announcement-bar-start-date" hidden>{{ .startDate }}</span>
      <span id="announcement-bar-end-date" hidden>{{ .endDate }}</span>
      <span id="announcement-bar-index" hidden>{{ .index }}</span>
    </div>
    {{ if ne .hideCloseButton true }}
    <button
      class="btn btn-link p-0 announcement-bar__button-close"
      onclick="announcementBarHide()"
      aria-label="close announcement bar"
    >
      <i class="fa fa-plus text-white"></i>
    </button>
    {{ end }} {{ end }}
  </div>
</section>
{{ end }}
