<div class="card faq-card bg-{{ .col_id }} {{ .class }}">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <h5 class="card-title flex-grow-1 m-0">
        {{ .title | markdownify }}
      </h5>
      <button
        data-toggle="collapse"
        data-target="#faq-{{ .index }}"
        class="btn text-body align-self-start px-0"
        aria-expanded="false"
        aria-controls="faq-{{ .index }}"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div
      class="card-text -text-700 collapse"
      id="faq-{{ .index }}"
      class="collapse multi-collapse"
      aria-labelledby="faq-{{ .index }}"
    >
        {{ .content | markdownify }}
    </div>
  </div>
</div>
