{{ $p := .p }}
{{ $class := .class | default "ml-3" }}
{{ $image := ($p.Resources.ByType "image").GetMatch "**featured*" }}
{{ $title := ($p.Title) }}
{{ $falco_weekly_prefix := "Falco Weekly" }}
{{ $image_palceholder := .placeholder}}
{{ if $image }}
  <figure class="{{ $class }}" >
  <img src="{{ $image.RelPermalink }}" alt="Featured Image for {{ $p.Title }}" class="{{ $class }}" loading="lazy" >
  {{ with $image.Params.byline }}
    <figcaption class="mt-2 mt-md-0"><small class="text-muted">{{ . | html }}</small></figcaption>
  {{ end }}
  </figure>
{{ else if strings.HasPrefix $title $falco_weekly_prefix }}
  <img src="/images/featured/falco-reading-featured.png" alt="Featured Image for {{ $p.Title }}"  class="{{ $class }}" >
{{ else }}
  <img src="/images/featured/default-01.png" alt="Featured Image for {{ $p.Title }}"  class="{{ $class }}" >
{{ end }}
