{{ $adopters := $.Site.Params.adopters }}
{{ $endUsers := index $adopters "end-users" }}
{{ $vendors := index $adopters "vendors" }}
{{ $integrations := index $adopters "integrations" }}

<section class="row relative td-box--gradient td-box--height-auto">
    <div class="container text-center">
        <h2 class="subtitle is-3 is-muted">{{ T "end-users" }}</h2>
        <br />
        <div class="row h-30">
            {{- range $endUsers }}
            <div class="col-xs-12 col-sm-4 col-md-2 offset-md-1 my-auto">
            <figure>
                <a href="{{ .url }}">
                <img class="img-fluid mb-4" src="{{ printf "/img/adopters/%s" .src | relURL }}"
                    alt="{{ .alt }}">
                </a>
            </figure>
            </div>
            {{- end }}
        </div>

        <h2 class="subtitle is-3 is-muted">{{ T "vendors" }}</h2>
        <br />
        <div class="row h-30">
            {{- range $vendors }}
            <div class="col-xs-12 col-sm-4 col-md-2 offset-md-1 my-auto">
            <figure>
                <a href="{{ .url }}">
                <img class="img-fluid mb-4" src="{{ printf "/img/adopters/%s" .src | relURL }}"
                    alt="{{ .alt }}">
                </a>
            </figure>
            </div>
            {{- end }}
        </div>


        <h2 class="subtitle is-3 is-muted">{{ T "integrations" }}</h2>
        <br />
        <div class="row h-30">
            {{- range $integrations }}
            <div class="col-xs-12 col-sm-4 col-md-2 offset-md-1 my-auto">
            <figure>
                <a href="{{ .url }}">
                <img class="img-fluid mb-4" src="{{ printf "/img/adopters/%s" .src | relURL }}"
                    alt="{{ .alt }}">
                </a>
            </figure>
            </div>
            {{- end }}
        </div>
</div>
</section>