{{ $cover := and (.HasShortcode "blocks/cover") (not .Site.Params.ui.navbar_translucent_over_cover_disable) }}
<nav class="js-navbar-scroll navbar navbar-expand navbar-dark {{ if $cover}} td-navbar-cover {{ end }}td-navbar">
  <div class="navbar-brand__wrapper">
    <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
      <span class="navbar-logo">{{ if .Site.Params.ui.navbar_logo }}{{ with resources.Get "icons/logo.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}{{ end }}</span><span class="font-weight-bold">{{ .Site.Title }}</span>
    </a>
  </div>
	<div class="td-navbar-nav-scroll ml-md-auto w-100" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0 justify-content-center">
			{{ $p := . }}
			{{ range .Site.Menus.main }}
        {{ if .HasChildren }}
          <li class="nav-item dropdown d-none d-md-block mb-2 mb-lg-0 mx-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {{ range .Children }}
            <a class="dropdown-item d-flex flex-column" href="{{ .URL | relLangURL}}">
              <span class="font-weight-bold">{{ .Name }}</span>
              {{ with .Params.description }}
              <span class="small text-dark">{{ safeHTML . }}</span>
              {{ end }}
            </a>
            {{ end }}
          </div>
         </li>
        {{ else }}
          <li class="nav-item d-none d-md-block mx-2 mb-2 mb-lg-0">
            {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
            {{ with .Page }}
              {{ $active = or $active ( $.IsDescendant .)  }}
            {{ end }}
            {{ $pre := .Pre }}
            {{ $post := .Post }}
            {{ $url := urls.Parse .URL }}
            {{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
            <a class="nav-link{{if $active }} active{{end}}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}>{{ with .Pre}}{{ $pre }}{{ end }}<span{{if $active }} class="active"{{end}}>{{ .Name }}</span>{{ with .Post}}{{ $post }}{{ end }}</a>
          </li>
        {{ end }}
      {{ end }}
			{{ if  .Site.Params.versions }}
			<li class="nav-item dropdown d-none d-lg-block">
				{{ partial "navbar-version-selector.html" . }}
			</li>
			{{ end }}
		</ul>
	</div>
  <div class="d-flex justify-content-center justify-content-md-end mr-3 w-50">
    <div class="navbar-nav d-none d-lg-block">
      {{ partial "search-input.html" . }}
    </div>
    {{ if (gt (len .Site.Home.Translations) 0) }}
    <div class="navbar-nav nav-item dropdown d-none d-lg-block mr-md-2">
      {{ partial "navbar-lang-selector.html" . }}
    </div>
    {{ end }}
		<a href="/docs/getting-started/try-falco/" role="button" class="btn btn-primary flex-shrink-0 px-3">
			{{ T "home_falco_primary_btn" | markdownify }}
		</a>
  </div>
  <div class="dropdown-hamburger d-block d-md-none position-static ml-3">
    <button class="bg-transparent border-0" id="hamburgerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bars fa-2x weigh" aria-hidden="true"></i>
    </button>
    <div class="w-100 dropdown-menu dropdown-menu--mobile" aria-labelledby="hamburgerDropdown">
      {{ range .Site.Menus.main }}
        <a class="dropdown-item my-2" href="{{ .URL | relLangURL}}">
          <h4 class="font-weight-bold">{{ .Name }}</h4>
        </a>
        {{ if .HasChildren }}
          {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | relLangURL}}">
              <div class="font-weight-bold">{{ .Name }}</div>
              {{ with .Params.description }}
              <div class="small text-dark text-wrap">{{ safeHTML . }}</div>
              {{ end }}
            </a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</nav>
