<div class="card card-rounded card-rounded--shaded h-100">
  <div class="card-body d-flex flex-column justify-content-between">
    {{ with .shareStory }}
      <img class="quote-slide__logo" src="{{ $.logoUrl }}" alt="Quote Logo" />
      <h3 class="display-3 font-weight-normal card-text mb-0 mt-4 flex-grow-1">{{ $.text | markdownify }}</h3>
      <a href="#" role="button" class="btn btn-primary d-block">
        {{ T "share_your_story_btn" | markdownify }}
      </a>
    {{ else }}
      <img class="quote-slide__logo" src="{{ .logoUrl }}" alt="Quote Logo" />
      <p class="card-text mb-0 mt-4 flex-grow-1">"{{ .text | markdownify }}"</p>
      <div class="d-flex mt-4">
        <img
          class="rounded quote-slide__avatar"
          src="{{ .authorImgUrl }}"
          alt="author image"
        />
        <div class="pl-3 d-flex flex-column justify-content-center">
          <span> {{ .authorName }} </span>
          <span class="text-black-50"> {{ .authorPosition }} </span>
        </div>
      </div>
    {{ end }}
  </div>
</div>
