<div class="section-index td-block-padding">
    {{ $parent := .Page }}
    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
    {{ $pages = (where $pages "Type" "!=" "search") }}
    {{ $pages = (where $pages ".Params.hide_summary" "!=" true) }}
    {{ $pages = (where $pages ".Parent" "!=" nil) }}
    {{ $pages = (where $pages "Parent.File.UniqueID" "==" $parent.File.UniqueID) }}
    {{ if or $parent.Params.no_list (eq (len $pages) 0) }}
    {{/* If no_list is true or we don't have subpages we don't show a list of subpages */}}
    {{ else if $parent.Params.simple_list }}
    {{/* If simple_list is true we show a bulleted list of subpages */}}
        <ul>
            {{ range $pages }}
                {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}
                <li><a href="{{ $manualLink }}"{{ with .Params.manualLinkTitle }} title="{{ . }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }}>{{- .Title -}}</a></li>
            {{ end }}
        </ul>
    {{ else }}
    {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
    {{/*  <hr class="panel-line">  */}}
        {{ range $pages }}
            {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}
            <a class="entry btn btn-light card card-sm shadow mb-3 p-0" href="{{ $manualLink }}"{{ with .Params.manualLinkTitle }} title="{{ . }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }}>
                <div class="card-body text-left d-flex gap-4">
                    {{ if .Params.Icon }}
                        <img class="align-self-center" src="{{ .Params.Icon }}" alt="{{ .Params.Icon }}" loading="lazy">
                    {{ end }}
                    <div class="align-self-center">
                        <div class="card-title mb-2">
                            <h5>{{- .Title -}}</h5>
                        </div>
                        <div class="card-text text-dark">
                            <span>{{ .Description | markdownify }}</span>
                        </div>
                    </div>
                </div>
                <div class="card-text">
                    <p>{{ .Description | markdownify }}</p>
                </div>
            </div>
        </a>
    {{ end }}
    {{ end }}
</div>