{{ $training := $.Site.Params.training }}
{{ $contributors := index $training "contribution" }}

<section class="row relative td-box--gradient td-box--height-auto">
    <div class="container text-center">

        <div class="subtitle is-3 is-muted">
            <div class="col-md-12">
              <div class="container doc-content">
                <h1>Courses</h1>
              </div>
            </div>
          </div>
          <br />

        <div class="row h-30">
            {{- range $contributors }}
            <div class="col-xs-12 col-sm-6 col-md-3 px-5 pb-3 my-auto">
            <figure>
                <a href="{{ .url }}">
                <img class="img-fluid mb-4" src="{{ printf "/img/training/%s" .src | relURL }}"
                    alt="{{ .alt }}">
                </a>
            </figure>
            </div>
            {{- end }}
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-12">
              <div class="container doc-content">
                <a name="add"></a><h2>Adding new training resources</h2>
                <p>
                  Falco training is built and maintained by its community members.
                  Have you created any material that might be useful for others to learn about Falco and Runtime Security?
                  Open a PR and add it here!
                </p>
        
                <div class="doc-content training-cta">
                  <a href="https://github.com/falcosecurity/falco-website/edit/master/config/_default/params.toml" target="_blank" class="btn btn-primary btn-lg">Add new resources</a>
                </div>
              </div>
            </div>
          </div>

</div>
</section>