{{ define "main" }}



<section id="td-cover-block-0"
    class="row td-cover-block td-cover-block--height-auto js-td-cover td-overlay td-overlay--primary -bg-primary">
    <div class="container td-overlay__inner">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1 class="display-1 mt-0 mt-md-5 pb-4">The Falco Project</h1>

                    <div class="pt-3 lead">
                        {{ T "cloud-native-runtime-security" | markdownify }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row relative td-box--gradient td-box--height-auto">
    <div class="container">
        <div class="row">
            <div class="h4 mb-0 col-md-6">
                {{ T "home_falco_description" | markdownify }}
                <div class="row mt-4 mb-4 pb-4">
                    <div class="mx-auto d-block">
                        <a href="https://sysdig.com/"><img width="200px" src="/img/created-by-sysdig.png" /></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img width="100%" src="/img/falco-events-flow-simplified.png" />
            </div>
        </div>
    </div>
</section>
{{ with .Content }}
{{ . }}
{{ end }}

<section class="row relative td-box--gradient position-relative td-box--1 td-box--height-auto">
    <div class="container td-arrow-down">
        <div class="row">
            <div class="col text-center">
                <h3 class="display-1 mt-0 mt-md-3 pb-3">{{ T "home_featured_videos" }} </h3>
                {{ partial "videos.html" .}}
            </div>
        </div>
    </div>
</section>

{{ partial "logos.html" . }}

<section id="cncf">
    <p>{{ T "cncf_status_statement" | markdownify }}</p>
</section>




{{ end }}
