{{ $posts    := where site.RegularPages "Section" "blog" }}
{{ $hasPosts := gt (len $posts) 0 }}
<section class="section">
  <div class="container">
    {{ if $hasPosts }}
    <div class="columns is-multiline is-variable is-2">
      {{ range $posts }}
      {{ $author := .Params.author }}
      <div class="column is-half">
        <a href="{{ .RelPermalink }}">
          <div class="card">
            <div class="card-content content">
              <h2 class="has-text-primary">
                {{ .Title }}
              </h2>

              {{ with $author }}
              <p class="has-text-weight-bold">
                {{ . }}
              </p>
              {{ end }}

              {{ with .Summary }}

              <p>
                {{ . }}
              </p>
              {{ end }}
            </div>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
    {{ else }}
    <div class="content">
      <h4>
        No posts just yet. Stay tuned!
      </h4>
    </div>
    {{ end }}
  </div>
</section>
