{{ $year     := now.Year }}
{{ $standard := or .IsHome (eq .Section "blog") }}
<footer class="footer footer-dark">
  {{ if $standard }}<div class="container is-fluid">{{ end }}
    <p class="has-text-centered">The Linux Foundation has registered trademarks and
      uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a
        href="https://www.linuxfoundation.org/trademark-usage" target="_blank">Trademark Usage</a> page.
    </p>
    <p class="has-text-centered">
      {{ $year}} &copy; Falco Project Authors. All rights reserved.
    </p>
    {{ if $standard }}
  </div>{{ end }}
</footer>
