{{- $hero        := .Site.Params.hero }}
{{- $clientLogos := index $hero "clientlogos" }}
<div class="hero-foot mb-20">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h3 class="subtitle is-3 is-muted">{{ T "integrations_and_platforms" }}</h3>
    </div>
    <ul class="c-logo-grid">
      {{- range $clientLogos }}
      <li class="c-logo-grid__item">
        <img class="partner-logo" src="{{ printf "/images/logos/clients/%s" .src | relURL }}" alt="{{ .alt }}">
      </li>
      {{- end }}
    </ul>
  </div>
</div>
