{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := index $hero "image" }}
<div class="hero-body">
  <div class="container">
    <div class="columns u-logo-offset">
      <div class="column landing-caption">
        <h1 class="title is-3 is-spaced has-text-weight-normal">
          {{ $title }}
        </h1>
      </div>
    </div>
    <div class="columns u-logo-offset">
      <div class="column is-6 landing-caption">
        <figure class="image hero__img is-hidden-tablet">
          <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
        </figure>
        {{ with $subtitle }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <p>
          <a class="button cta rounded primary-btn raised" href="{{ $buttonLink }}">
            {{ $buttonText }}
          </a>
        </p>
      </div>
      <div class="column is-6 is-5-widescreen is-offset-1-widescreen">
        <figure class="image hero__img is-hidden-mobile">
          <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
        </figure>
      </div>
    </div>
  </div>
</div>