{{- $hero       := .Site.Params.hero }}
{{- $heroText   := .Site.Params.heroText }}
{{- $title      := $heroText.title }}
{{- $subtitle   := $heroText.subtitle }}
{{- $buttonText := $heroText.buttontext }}
{{- $buttonLink := $hero.buttonlink }}
{{- $image      := $hero.image }}
<div class="hero-body">
  <div class="container">
    <div class="columns u-logo-offset">
      <div class="column landing-caption">
        <h1 class="title is-3 is-spaced has-text-weight-normal">
          {{ $title }}
        </h1>
      </div>
    </div>
    <div class="columns u-logo-offset">
      <div class="column is-6 landing-caption">
        <figure class="image hero__img is-hidden-tablet">
          <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
        </figure>
        {{ with $subtitle }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <p>
          <a class="button cta rounded primary-btn raised" href="{{ $buttonLink }}">
            {{ $buttonText }}
          </a>
        </p>
        <p class="mt-40">
          <a class="github-button" href="https://github.com/falcosecurity/falco" data-icon="octicon-star" data-show-count="true" data-size="large" aria-label="Star falcosecurity/falco on GitHub">Star</a>
          <a class="github-button" href="https://github.com/falcosecurity/falco/subscription" data-icon="octicon-eye" data-show-count="true" data-size="large" aria-label="Watch falcosecurity/falco on GitHub">Watch</a>
          <a class="github-button" href="https://github.com/falcosecurity/falco/fork" data-icon="octicon-repo-forked" data-show-count="true" data-size="large" aria-label="Fork falcosecurity/falco on GitHub">Fork</a>
        </p>
      </div>
      <div class="column is-6 is-5-widescreen is-offset-1-widescreen">
        <figure class="image hero__img is-hidden-mobile">
          <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
        </figure>
      </div>
    </div>
  </div>
</div>
