{{- $hero        := .Site.Params.hero }}
{{- $endUsers := index $hero "end-users" }}
{{- $vendors := index $hero "vendors" }}
{{- $integrations := index $hero "integrations" }}

<section class="section section--features is-medium">
  <div class="container has-text-centered">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 id="fade" class="subtitle is-1">Originally Created By</h2>
      </div>
      <div class="title-wrapper has-text-centered">
        <a href="https://sysdig.com"><img class="partner-logo" src="/images/logos/clients/sysdig.png" alt="Sysdig"></a>
      </div>
    </div>
  </div>
</section>

<br><br>

<section class="section section-feature-grey is-medium">
  <div class="container has-text-centered">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="subtitle is-3 is-muted">{{ T "end-users" }}</h2>
      </div>
      <hr>
      <br><br>
      <ul class="c-logo-grid">
        {{- range $endUsers }}
        <li class="c-logo-grid__item">
          <a href="{{ .url }}"><img class="partner-logo" src="{{ printf "/images/logos/clients/%s" .src | relURL }}"
              alt="{{ .alt }}"></a>
        </li>
        {{- end }}
      </ul>
    </div>
  </div>


  <div class="hero-foot mb-20">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="subtitle is-3 is-muted">{{ T "vendors" }}</h2>
      </div>
      <hr>

      <br><br>

      <ul class="c-logo-grid">
        {{- range $vendors }}
        <li class="c-logo-grid__item">
          <a href="{{ .url }}"><img class="partner-logo" src="{{ printf "/images/logos/clients/%s" .src | relURL }}"
              alt="{{ .alt }}"></a>
        </li>
        {{- end }}
      </ul>
    </div>
  </div>

  <div class="hero-foot mb-20">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="subtitle is-3 is-muted">{{ T "integrations" }}</h2>
      </div>
      <hr>

      <br><br>

      <ul class="c-logo-grid">
        {{- range $integrations }}
        <li class="c-logo-grid__item">
          <a href="{{ .url }}"><img class="partner-logo" src="{{ printf "/images/logos/clients/%s" .src | relURL }}"
              alt="{{ .alt }}"></a>
        </li>
        {{- end }}
      </ul>
    </div>
  </div>

  <br>
  <br>

</section>
