{{- $whyfalco := .Site.Params.whyfalco }}
{{- $title    := index $whyfalco "title" }}
{{- $subtitle := index $whyfalco "subtitle" }}
{{- $tiles    := index $whyfalco "tiles" }}
<a id="whyfalco"></a>
<section class="section section--features section-feature-grey">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h3 class="subtitle is-5 is-muted">

      <img src="images/logos/kubecon.png">
      </h3>
      <br>
    </div>
    <center>
      <iframe width="853" height="505" src="https://www.youtube.com/embed/6pVci31Mb6Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>
    <div class="content-wrapper">
  </div>
</section>
