{{ $navbar    := site.Params.navbar }}
{{ $menu      := site.Menus.navbar }}
{{ $cncf      := index $navbar "cncf" }}
{{ $isHome    := .IsHome }}
{{ $isDocs    := eq .Section "docs" }}
{{ $baseUrl   := site.BaseURL }}
{{ $isEnglish := eq .Lang "en" }}
{{ $langText  := cond $isEnglish "中文 Chinese" "English" }}
{{ $langUrl   := cond $isEnglish "/zh" "/" | relURL }}
{{ $isThin    := or (.IsHome) (eq .Section "blog") }}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  {{ if $isThin }}<div class="container">{{ end }}
    <div class="navbar-brand">
      <a class="navbar-item{{ if $isDocs }} is-hidden-tablet{{ end }}" href="{{ $baseUrl }}">
        <img class="navbar-brand__logo" src="{{ "/images/logos/falco-logo.png" | absURL }}" alt="">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div id="navbar-menu" class="navbar-menu is-static">
      <div class="navbar-end">
        {{ range $menu }}
        {{ $url := .URL | relLangURL }}
        <a class="navbar-item has-text-grey is-size-5" href="{{ $url }}">
          {{ .Name }}
        </a>
        {{ end }}

        <a class="navbar-item has-text-grey is-size-5" href="{{ $langUrl }}">
          {{ $langText }}
        </a>

        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-black" href="https://github.com/falcosecurity/falco" target="_blank">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              {{ if $isThin }}
              <span>
                <strong>
                  GitHub
                </strong>
              </span>
              {{ end }}
            </a>
  
            <a class="button is-twitter-blue" href="https://twitter.com/falco_org" target="_blank">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              {{ if $isThin }}
              <span>
                <strong>
                  Twitter
                </strong>
              </span>
              {{ end }}
            </a>
          </div>
        </div>

        <a class="navbar-item" href="https://cncf.io/">
          <img class="c-cncf__img" src="{{ printf "/images/logos/%s" $cncf.logo | relURL }}">
        </a>
      </div>
    </div>
  {{ if $isThin }}</div>{{ end }}
</nav>
