{{- $navbar := .Site.Params.navbar }}
{{- $menu   := index $navbar "menu"}}
{{- $cncf   := index $navbar "cncf" }}
{{- $isHome := .IsHome }}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  {{ if $isHome }}<div class="container">{{ end }}
    <div class="navbar-brand">
      <a class="navbar-item is-hidden-tablet" href="{{ "/" | absURL }}">
        <img class="navbar-brand__logo" src="{{ "/images/logos/falco-logo.png" | absURL }}" alt="">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div id="navbar-menu" class="navbar-menu is-static">
      <div class="navbar-end">
        {{ range $menu }}
        <a class="navbar-item has-text-grey is-size-5" href="{{ .url }}">
          {{ .title }}
        </a>
        {{ end }}

        <a class="navbar-item" href="https://cncf.io">
          <img class="c-cncf__img" src="{{ printf "/images/logos/%s" $cncf.logo | relURL }}">
        </a>
      </div>
    </div>
  {{ if $isHome }}</div>{{ end }}
</nav>
