{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $resources := index $section2 "resources" }}
<a id="download"></a>
<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="columns">

          <div class="column is-centered-tablet-portrait">
            <h1 class="title is-3 has-text-weight-normal section-title">{{ $title }}</h1>
            <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
            <div class="divider"></div>
          </div>

          <div class="column mt-45">
            {{- range $resources }}
            <article class="media icon-box">
              <figure class="media-left">
                <p>
                  <img src="{{ printf "/images/illustrations/icons/%s" .icon | relURL }}" width="85" height="85">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <span class="icon-box-title">{{ .title }}</span>

                    <span class="icon-box-text">{{ .text }}</span>
                    <a class="" href="{{ .buttonLink }}">
                        {{ .buttonText }}
                      </a>
                  </p>
                </div>
              </div>
            </article>
            {{- end }}
          </div>

        </div>
    </div>
  </div>
</section>