{{- $signup := .Site.Params.signup }}
{{- $title      := index $signup "title" }}
{{- $subtitle   := index $signup "subtitle" }}
{{- $image      := index $signup "image" }}
{{- $buttonText := index $signup "buttontext" }}
{{- $buttonLink := index $signup "buttonlink" }}
{{- $slackText := index $signup "slackText" }}
{{- $slackLink := index $signup "slackLink" }}
{{- $mailingListText := index $signup "mailingListText" }}
{{- $mailingListLink := index $signup "mailingListLink" }}
{{- $communityText := index $signup "communityText" }}
{{- $communityLink := index $signup "communityLink" }}
{{- $privacyText := index $signup "privacyText" }}
{{- $privacyLink := index $signup "privacyLink" }}

<section class="section section-feature-grey is-medium">
  <div class="container has-text-centered">

    <div class="subtitle is-5 is-muted">
      <div class="columns">
        <div class="column is-one-third">
        <a href=" {{ $slackLink }}"><i class="fab fa-slack fa-2x"></i> </a>
          <br>
          {{ $slackText }}
        </div>
        <div class="column is-one-third">
        <a href=" {{ $mailingListLink }}"><i class="far fa-envelope fa-2x"></i> </a>
          <br>
          {{ $mailingListText }}
      </div>
        <div class="column is-one-third">
          <a href=" {{ $communityLink }}"><i class="fas fa-child fa-2x"></i> </a>
          <br>
          {{ $communityText }}
        </div>
      </div>
    <p>
      <h3 class="subtitle is-6 is-muted">The Falco Community is bound to <a href="https://www.linuxfoundation.org/privacy/">The Linux Foundation privacy policy</a>. When you communicate with us (via email, phone, through the Sites or otherwise), we may maintain a record of your communication.</h3>


      </p>
    </div>
  </div>
</section>
