{{- $signup := .Site.Params.signup }}
{{- $title      := index $signup "title" }}
{{- $subtitle   := index $signup "subtitle" }}
{{- $image      := index $signup "image" }}
{{- $buttonText := index $signup "buttontext" }}
{{- $buttonLink := index $signup "buttonlink" }}
<section class="section section-feature-grey is-medium">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <!-- <div class="has-text-centered">
          <img class="pushed-image" src="{{ printf "/images/%s" $image | relURL }}">
        </div> -->
      </div>
    </div>

    <div class="title-wrapper">
      <h2 class="title is-3 has-text-weight-normal section-title">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
    </div>
    <div class="title-wrapper">
      <p class="has-text-centered mt-20">
          <form id="signup" method="POST" action="https://lists.cncf.io/g/cncf-falco-dev/join">
            <input type="hidden" name="su" value="">

            <div class="form-group has-error">
              <input name="email" type="text" required placeholder="email address" class="input is-medium rounded" autofocus="">
            </div>
        <br>
        <button class="button rounded" id="submit" type="submit" name="doit" value="yes">
          {{ $buttonText }}
        </button>
        </form>
      </p>
    </div>
  </div>
</section>
