{{- $whyfalco := .Site.Params.whyfalco }}
{{- $title    := index $whyfalco "title" }}
{{- $subtitle := index $whyfalco "subtitle" }}
{{- $tiles    := index $whyfalco "tiles" }}
<a id="whyfalco"></a>
<section class="section section--features section-feature-grey">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-3 has-text-weight-normal">{{ $title }}</h2>
      <br>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        {{- range $tiles }}
        <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>{{ .title }}</h4>
            </div>
            <div class="card-icon">
                <i class="{{ .icon }} fa-2x"></i>
            </div>
            <br>
            <div class="card-text">

              <p>{{ .text }}</p>
            </div>
          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>
