/* Fancy "Tacky" fontFade Effect to "highligth" Orginally created by section */
@keyframes fontFade {
    0% {
        color: #000000;
    }

    25% {
        color: #00ABC7;
    }

    50% {
        color: #00B4C8;
    }

    100% {
        color: #000000;
    }
}


#fade {
    animation-name: fontFade;
    animation-duration: 3.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

/* For making the images not being round*/
img {
    border-radius: 0%;
}
