{{ $index := $.Get "index" }}
{{ $col_id := $.Get "color" | default "light" }} 
{{ $class := $.Get "class" | default ""}}
<div class="card faq-card bg-{{ $col_id }} {{ $class }}">
  <div class="card-body">
    {{ with $.Get "title" }}
      <div class="d-flex align-items-center">
        <h5 class="card-title flex-grow-1 m-0">
          {{ if eq $.Page.File.Ext "md" }} 
            {{ $.Get "title" | markdownify }} 
          {{ else }} 
            {{ $.Get "title" | htmlUnescape | safeHTML }} 
          {{ end }}
        </h5>
        <button
          data-toggle="collapse"
          data-target="#faq-{{ $index }}"
          class="btn text-body align-self-start px-0"
          aria-expanded="false"
          aria-controls="faq-{{ $index }}"
        >
          <i class="fa fa-plus"></i>
        </button>
      </div>
    {{ end }} 
    {{ with $.Inner }}
      <div
        class="card-text -text-700 collapse"
        id="faq-{{ $index }}"
        class="collapse multi-collapse"
        aria-labelledby="faq-{{ $index }}"
      >
        {{ if eq $.Page.File.Ext "md" }} 
          {{ $.Inner | markdownify }} 
        {{ else }} 
          {{ $.Inner | htmlUnescape | safeHTML }} 
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
