{{ $direction := .Get "direction" | default "forward"}}
{{ $href := .Get "href" }}
{{ $col_id := .Get "color" | default "transparent" }}
{{ $class := .Get "class" | default "" }}
{{ $arrow_col := .Get "arrow" | default "primary" }}
{{ $text_align := cond (eq $direction "forward") "text-left" "text-right" }}

<a href="{{ $href }}" class="text-decoration-none font-weight-normal td-box--{{ $col_id }} {{ $class }}">
  <div class="card card-sm btn btn-light p-0 shadow">
    <div class="card-body d-flex align-items-center">
      {{ with eq $direction "back" }}
        <i class="fa fa-arrow-left pl-4 text-{{ $arrow_col }}"></i>
      {{ end }}
      <p class="w-100 mb-0 {{ $text_align }}">{{ .Inner }}</p>
      {{ with eq $direction "forward" }}
        <i class="fa fa-arrow-right pl-4 text-{{ $arrow_col }}"></i>
      {{ end }}
    </div>
  </div>
</a>