{{ $direction := .Get "direction" | default "forward"}}
{{ $content_type := .Get "content" | default "text" }}
{{ $col_id := .Get "color" | default "transparent" }}
{{ $class := .Get "class" | default "" }}
<div class="d-flex align-items-center td-box--{{ $col_id }} {{ $class }}">
  {{ with eq $direction "back" }}
  <div class="pr-4">
    <i class="fa fa-arrow-left"></i>
  </div>
  {{ end }}
  <div class="flex-grow-1">
    {{ .Inner }}
  </div>
  {{ with eq $direction "forward" }}
  <div class="pl-4">
    <i class="fa fa-arrow-right"></i>
  </div>
  {{ end }}
</div>
