<div class="feedback card shadow">
  <div class="card-body text-center">
    <div class="card-title">
      <h4 class="text-center m-0">{{ T "feedback_title" | markdownify }}</h4>
    </div>
    <div class="card-title mb-2 text-secondary">
      {{ T "feedback_subtitle" | markdownify }}
    </div>
    <div class="mt-4 pt-3">
      <button class="btn btn-outline-primary px-5 feedback--answer-yes">
        {{ T "general_yes" | markdownify }}
      </button>
      <button class="btn btn-outline-primary px-5 feedback--answer-no">
        {{ T "general_no" | markdownify }}
      </button>
      <p class="d-none feedback--response-yes mb-0 mt-3">
        {{ T "feedback_yes" | safeHTML }}
      </p>
      <p class="d-none feedback--response-no mb-0 mt-3">
        {{ T "feedback_no" | safeHTML }}
      </p>
    </div>
  </div>
</div>
