<div class="card-deck footer-nav">
  {{ $prev := .Get "prev"}}
  {{ if $prev }}
    <a href="{{ $prev }}" class="btn card bg-info p-0" role="button">
      <div class="card-body d-flex">
        <div class="icon-button shadow flex-shrink-0">
          <i class="fa fa-arrow-left"></i>
        </div>
        <div class="flex-grow-1 text-left ml-3">
          <p class="text-primary mb-1">
            {{ T "general_previous_page" | markdownify }}
          </p>
          <h5 class="mb-0">
            {{ .Get "prevTitle" | markdownify }}
          </h5>
        </div>
      </div>
    </a>
  {{ end }} 
  {{ $next := .Get "next"}}
  {{ if $next }}
    <a href="{{ $next }}" class="btn card bg-info p-0" role="button">
      <div class="card-body d-flex">
        <div class="flex-grow-1 text-left mr-3">
          <p class="text-primary mb-1">
            {{ T "general_next_page" | markdownify }}
          </p>
          <h5 class="mb-0">
            {{ .Get "nextTitle" | markdownify }}
          </h5>
        </div>
        <div class="icon-button shadow flex-shrink-0">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div>
    </a>
  {{ end }}
</div>
