@charset "utf-8"

@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

$primary: #00b4c8
$secondary: #444f60

$link: $primary
$code: darken($primary, 5%)
$code-background: $white-bis
$section-padding: 1rem

@import "bulma/sass/utilities/derived-variables"
@import "bulma/bulma"

@import "fresh/core"

.article
  margin-bottom: 5rem

.content pre
  background-color: rgb(39, 40, 34)
  color: rgb(248, 248, 242)